.vragen{
    height: fit-content;
    width: 90%;
    margin: 0 auto;
}

.vraag{
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(1.5rem); 
    border-radius: 2.5rem;
    mix-blend-mode: normal;
    padding: 2rem;
    max-height: 38rem;
}

.vraag:nth-last-child(1){
    margin-bottom: 2rem;
}

.vraag--open{
    overflow:hidden;
}

.vraag__antwoorden{
    margin-top: 2rem;
    list-style-position: inside;
}

.vraag__antwoord{
    margin-top: 1rem;
    font-size: 1.8rem;
}

@media only screen and (min-width: 768px){
    .vragen{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
        margin-top: 2rem;
    }

    .vraag{
        width: 100%;
        margin: 0;
    }

    .vraag--open{
        grid-column: 1 / span 2;
    }
}

@media only screen and (min-width: 1300px){
    .vragen{
        grid-template-columns: repeat(3, 1fr);
    }

    .vraag--open{
        grid-column: 1;
    }
}

@media only screen and (min-width: 1440px){
    .vragen{
        grid-template-columns: repeat(4, 1fr);
    }

    .vraag--open{
        grid-column: 1 / span 2;
    }
}
