.button {
	background: linear-gradient(85.07deg, #fc4a1a 0%, #f7b733 100%);
	border-radius: 1.5rem;
	padding: 1.5rem;
	border: none;
	color: white;
	/* width: 15rem; */
	width: 100%;
	margin-top: 1rem;
	font-size: 1.8rem;
	transition: 0.5s ease background;
}

.button:hover {
	cursor: pointer;
	background: white;
	color: #f98404;
	border: 2px solid #f98404;
	padding: 1.3rem;
}

@media only screen and (min-width: 768px) {
	.button {
		width: auto;
	}
}
