.sendEmailsForm{
    width: 90vw;
    margin: 0 auto;
    margin-top: 5rem;
    border-radius: 2.5rem;
    background: rgba(255, 255, 255, 0.25);
    mix-blend-mode: normal;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 2rem;
    color: white;
}

.sendEmailsForm__fieldset{
    width: 100%;
    border: none;
    margin-bottom: 1rem;
}

.sendEmailsForm__submit{
    background: linear-gradient(85.07deg, #FC4A1A 0%, #F7B733 100%);
    border-radius: 1.5rem;
    padding: 1rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border: none;
    color: white;
    width: 15rem;
    margin-top: 1rem;
    font-size: 1.8rem;
    transition: 0.5s ease background-color;
}

.sendEmailsForm__submit:disabled{
    border-radius: 1.5rem;
    background: none;
    background-color: rgba(161, 161, 161, 0.5);
    opacity: 0.8;
    pointer-events: none;
    font-style: italic;
}

.sendEmailsForm__submit:hover{
    cursor: pointer;
    background: white;
    color: #F98404;
    border: 2px solid #F98404;
    padding: 0.6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sendEmailsForm__label{
    margin-bottom: 0.5rem;
}

.sendEmailsForm__input {
    color: black;
    border: 1.5rem;
}

.sendEmailsForm__success{
    color: lawngreen;
}

@media only screen and  (min-width: 768px) {
    .sendEmailsForm{
        max-width: 45vw;
    }
}

@media only screen and  (min-width: 1024px) {
    .sendEmailsForm{
        max-width: 35vw;
    }
}

@media only screen and  (min-width: 1440px) {
    .sendEmailsForm{
        max-width: 30vw;
    }
}


