.card {
	display: block;
	position: relative;
	width: 95%;
	margin: 0 auto;
	margin-top: 1.5rem;
	border-radius: 2.5rem;
	background: rgba(255, 255, 255, 0.25);
	mix-blend-mode: normal;
	border: 1px solid rgba(255, 255, 255, 0.25);
	padding: 2rem;
	color: white;
}

.inner {
	width: 60%;
}

@media only screen and (min-width: 768px) {
	.card {
		max-width: 70vw;
	}
}

@media only screen and (min-width: 1024px) {
	.card {
		max-width: 60vw;
	}
}

@media only screen and (min-width: 1440px) {
	.card {
		max-width: 50vw;
	}
}
