.form{
    width: 90vw;
    margin: 0 auto;
    margin-top: 5rem;
    border-radius: 2.5rem;
    background: rgba(255, 255, 255, 0.25);
    mix-blend-mode: normal;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 2rem;
    color: white;
}

.form__fieldset{
    width: 100%;
    border: none;
    margin-bottom: 1rem;
}

.form__submit{
    background: linear-gradient(85.07deg, #FC4A1A 0%, #F7B733 100%);
    border-radius: 1.5rem;
    padding: 1rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border: none;
    color: white;

    margin-top: 0.5rem;
    font-size: 1.8rem;
    transition: 0.5s ease background-color;
    width: 100%;
}

.form__submit:disabled{
    border-radius: 1.5rem;
    background: none;
    background-color: rgba(161, 161, 161, 0.5);
    opacity: 0.8;
    pointer-events: none;
    font-style: italic;
}

.form__submit:hover{
    cursor: pointer;
    background: white;
    color: #F98404;
    border: 2px solid #F98404;
    padding: 0.6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.form__label{
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.form__input{
    width: 100%;
    border-radius: 1.5rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 70px 4px rgba(0, 0, 0, 0.2);
}

.form__input--invalid{
    border: 2px solid red;
}


@media only screen and  (min-width: 768px) {
    .form__submit{
        width: 15rem;
    }
}



