* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.8rem;
	font-family: sans-serif;
	background: linear-gradient(102.95deg, #3fbde6 5.21%, #151cb8 100%);
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	background-position-x: 50%;
	color: white;
}
