* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    
}

body {
    background-image: linear-gradient(102.95deg, #3FBDE6 5.21%,#151CB8 100%);
    height: 100vh;
    width: 100vw;
}
