* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(102.95deg, #3FBDE6 5.21%, #151CB8 100%);
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

main {
  height: 100vh;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.4rem;
}